<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive;">Ski Resort</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "log in", new_user_session_path, class: "button is-primary is-fullwidth" %>
          <br>
          <%= link_to "sign up", new_user_registration_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%=  %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>
